




@media only screen and (min-width:1000px){

  .hero_words .hero_text{
    font-size:25rem;
    font-weight:bolder;
    width: 23rem;
  } 

  .hero_words p{
  
    font-size: x-large;
    width: 23rem;
  }

  header{
    padding: 10px 40px;
  }

  .right_images .hand > img{
    height: 27rem;
  }
  .right_images .logo > img{
    height: 4rem;
  }

}


@media only screen and (min-width:858px){
  
  .hero_words > p,.list{
    font-size: medium;
  }

  .hero_section .hero_words h1{
    font-size:40px;
  }

  .hero_section > .hero_words >.shop_button > p{
    width: 14rem;
  }

  .hero_section .hero_words .bottom_words{
    font-size: small;
  }

}


@media only screen and (min-width:656px){
  .hero_words .top{
    font-size: small;
  }
}

@media only screen and (min-width:600px){

  .hero_section .hero_words > a > p{
    width: 12rem;
    padding: 10px;
  }
  header {
    padding:0% 5%;
  }
}
@media screen and (min-width:508px){

  .hero_words .bottom_words{
    font-size:8px;
  }
}

@media screen and (min-width:460px) {
  
  header > div{
    padding: 0px 10px;
  }
  header > div >img{
    height: 40px;
  }
  
  header > div > a > p{
    font-size:small;
    padding:10px;
    border-radius: 5px;
    text-decoration: none;
  }

  .top{
    font-size:smaller;
  }

  .hero_words{
    width: 40%;
    margin-top: 30px;
    font-size:small;

  }
  
  .hero_words h1{
    font-size:30px;
  }

  .hand > img{
    height: 20rem;
  }  
  

  .hero_section > div > a > p{
    font-size: small;
    font-weight: bold;
    background-color:rgb(190, 98, 32);
    color: white;
    padding:5px 20px;
    width: fit-content;
    border-radius: 5px;
    text-decoration: none;
    text-align: center;
  }


  .logo > img{
    height: 30px;
    margin-left: -50px;
  }

  .bottom_words{
    font-size:7px;
  }


}